.wrap {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100rem;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}
.input_wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.wrap .input {
  width: 680rem;
  height: 64rem;
  border: none;
  border-radius: 12px;
  background-color: #eee;
  padding-left: 60rem;
  outline: none;
  font-size: 30rem;
}

.wrap .font_icon {
  color: #999;
  font-size: 32rem;
  position: absolute;
  left: 10rem;
}
