.wrap {
  display: flex;
  align-items: center;
}
.add,
.sub {
  border: none;
  border-radius: 50%;
  background-color: rgb(242, 187, 21);
  font-size: 12px;
  width: 36rem;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  margin: 0 12rem;
  font-size: 12px;
  color: #999;
}
