.wrap {
  width: 690rem;
  height: 80rem;
  background-color: #333;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bag {
  width: 80rem;
  height: 80rem;
  position: absolute;
  bottom: 20rem;
}
.bag img {
  width: 100%;
}

.count {
  position: absolute;
  right: -10rem;
  border-radius: 50%;
  background-color: red;
  width: 36rem;
  height: 36rem;
  line-height: 36rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14rem;
}

.price {
  font-size: 38rem;
  color: #fff;
  margin-left: 120rem;
  font-weight: bold;
}
.price::before {
  content: "¥";
  font-size: 30rem;
  margin-right: 5rem;
}

.button {
  width: 200rem;
  background-color: rgb(242, 187, 21);
  border-radius: 20px;
  border: none;
  outline: none;
  height: 100%;
  font-size: 36rem;
}
